services:
  prometheus:
    image: prom/prometheus:latest
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yml
    volumes:
      - prometheus_data:/prometheus
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        # Traefik & Authelia
        traefik.enable: "true"
        traefik.http.routers.prometheus.rule: Host(`prometheus.${DOMAIN_NAME}`)
        traefik.http.routers.prometheus.entrypoints: websecure
        traefik.http.routers.prometheus.middlewares: authelia
        traefik.http.services.prometheus.loadbalancer.server.port: 9090
        # Portainer
        com.docker.compose.project: argus
    networks:
      - default
      - aether-net
    labels:
      com.docker.compose.project: argus

  grafana:
    image: grafana/grafana:latest
    volumes:
      - grafana_data:/var/lib/grafana
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        # Traefik & Authelia
        traefik.enable: "true"
        traefik.http.routers.grafana.rule: Host(`grafana.${DOMAIN_NAME}`)
        traefik.http.routers.grafana.entrypoints: websecure
        traefik.http.routers.grafana.middlewares: authelia
        traefik.http.services.grafana.loadbalancer.server.port: 3000
        # Portainer
        com.docker.compose.project: argus
    networks:
      - default
      - aether-net
    labels:
      com.docker.compose.project: argus

  node-exporter:
    image: prom/node-exporter:latest
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    deploy:
      mode: global
    networks:
      - default
    labels:
      com.docker.compose.project: argus

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    deploy:
      mode: global
    networks:
      - default
    labels:
      com.docker.compose.project: argus

volumes:
  prometheus_data:
  grafana_data:


networks:
  aether-net:
    external: true

configs:
  prometheus_config:
    file: ./configs/prometheus/prometheus.yml
